/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #22c55e);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Box */
.form-container {
    background: rgb(255, 255, 255);

    padding: 30px 35px;

    width: 100%;
    max-width: 380px;

    border-radius: 12px;

    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* Title */
h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* Fields */
.field {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 5px;

    font-weight: 600;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px 12px;

    font-size: 15px;

    border: 2px solid #ccc;
    border-radius: 6px;

    outline: none;

    transition: 0.3s;
}

input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 6px rgba(79,70,229,0.4);
}

/* Password Wrapper */
.password-wrapper {
    display: flex;
    align-items: center;

    border: 2px solid #ccc;
    border-radius: 6px;

    overflow: hidden;
}

.password-wrapper input {
    border: none;
    flex: 1;
}

.password-wrapper input:focus {
    box-shadow: none;
}

.password-wrapper:focus-within {
    border-color: #4f46e5;
}

/* Toggle Button */
#toggleBtn {
    width: 45px;
    height: 100%;
    font-weight: 800px;
    background: none;
    border: none;
    text-align: center;

    cursor: pointer;

    font-size: 18px;
}

/* Message (Stable Space) */
#message {
    min-height: 22px;

    font-size: 14px;
    margin-bottom: 15px;

    text-align: center;

    transition: 0.3s ease;
}

/* Submit Button */
#submit {
    width: 100%;

    padding: 12px;

    background: #4f46e5;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

#submit:hover {
    background: #4338ca;
}

#submit:active {
    transform: scale(0.96);
}
