* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Segoe UI", 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(21, 22, 22, 0.951);
    color:rgba(97, 101, 101, 0.838);
}

.main {
    background:  rgba(30, 33, 33, 1);
    backdrop-filter: blur(20px);
    border-radius: clamp(20px, 4vw, 40px);
    padding: clamp(25px, 6vw, 70px);
    box-shadow:
        0 30px 60px rgba(0,0,0,.6),
        inset 0 1px 0 rgba(255,255,255,.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(92vw, 420px);
}


#timerInput,
#Timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(6px, 1.5vw, 12px);
    border: 2px skyblue solid;
    padding: clamp(6px, 1.5vw, 10px);
    margin: clamp(3px, 1.2vw, 6px);
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    border-radius: 30px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

input {
    width: clamp(42px, 8vw, 60px);
    padding: clamp(6px, 1.5vw, 10px);
    margin: clamp(3px, 1.2vw, 6px);
    text-align: center;
    font-size: inherit;
    font-weight: 500;
    border-radius: 999px;
    border: 1px solid rgba(125, 211, 252, 0.5);
    background: rgba(13, 17, 22, 0.241);
    box-shadow:
    inset 0 2px 4px rgba(0,0,0,.4),
    0 4px 10px rgba(0,0,0,.3);
    color:rgba(97, 101, 101, 0.838);
    transition: all .25s ease;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}
input:focus {
    outline: none;
    border-color: #38bdf8;

    box-shadow:
        0 0 0 3px rgba(56,189,248,.25),
        inset 0 2px 4px rgba(0,0,0,.4);
}



button{
    border: none;
    background-color: rgba(92, 192, 232, 0.927);
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    width: 4ch;
}

button:hover{
    background-color: rgba(92, 192, 232, 0.8);
    transform: translateY(-3px) scale(1.3);
    font-size: 30px;
}
button {
    width: clamp(48px, 10vw, 64px);
    height: clamp(48px, 10vw, 64px);

    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 600;

    padding: clamp(6px, 1.5vw, 10px);
    margin: clamp(3px, 1.2vw, 6px);
    
    border: none;
    border-radius: 50%;

    cursor: pointer;

    background: linear-gradient(135deg, #38bdf8, #0284c7);
    color: #020617;

    box-shadow:
        0 8px 20px rgba(56,189,248,.35),
        inset 0 1px 0 rgba(255,255,255,.4);

    transition: all .25s ease;
}

button:hover {
    transform: translateY(-3px) scale(1.08);

    box-shadow:
        0 15px 30px rgba(56,189,248,.45),
        inset 0 1px 0 rgba(255,255,255,.5);
}

button:active {
    transform: scale(.96);
}

#Timer {
    display: none;
}

