/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #6a11cb, #000000 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Main Glass Card */
.main {
  background: rgba(255, 255, 255, 0.08);
  padding: 45px 55px;
  border-radius: 25px;
  text-align: center;
  backdrop-filter: blur(55px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.15);
  animation: float 5s ease-in-out infinite;
}

/* Floating animation */
@keyframes floatleftright {
  0% { transform: translateX(0px); }
  50% { transform: translateX(-6px); }
  100% { transform: translateX(0px); }
}

/* Label */
label {
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 12px;
  font-size: 1.2rem;
}

/* Input */
input {
  width: 70%;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 12px;
  padding: 12px;
  color: white;
  outline: none;
  font-size: 0.8rem;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

select{
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 12px;
  padding: 12px;
  color: white;
  outline: none;
  font-size: 0.8rem;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

select option{
    color: white;
    background-color: #000000;
}

#output {
  margin-top: 15px;
  font-weight: 700;
  min-height: 22px;
  animation: floatleftright 4s ease-in-out infinite;
}
@keyframes float{
 0% { transform: translateY(+6px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(6PX); }
   
}